<!DOCTYPE html>
<html>

<head>
    <title>Star Wars universe</title>

    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="js/d3.v3.min.js"></script>
    <!--    <script src="js/angular-1.3.9/angular.js"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="js/angular-1.3.9/angular-route.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>

    <!--    Bootstrap styling and formating-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!--    <script src="js/main-planets.js"></script>-->
</head>

<body>
    <header>
        <h1>Star Wars<span> planets and populations</span></h1>
    </header>

    <section>
        <h2>Characters appearing in Star Wars movies:<span id="character"></span></h2>
        <div id="list" ng-app="" ng-controller="customersController">

            <form>
                <label>Search for a Name:</label>
                <input class="col-md-12" type="text" ng-model="filterName">
                <span>Order by: </span>
                <select class="form-control" ng-model="order" ng-options="order as order.title for order in orders"></select>
            </form>
            <div id="people">
            </div>
        </div>
    </section>
    <div id="vizPLanets">
        <h2>Planets in Star Wars movies:<span id="planet"></span></h2>
    </div>
    <script src="js/main.js"></script>

</body>

</html>