<!DOCTYPE html>
<html xmlns:xlink="http://www.w3.org/1999/xlink">

<head>
    <title>StarWars-Universe</title>
    <script src="../d3.v3/d3.v3.min.js"></script>
    <!--    <script src="js/angular-1.3.9/angular.js"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="js/angular-1.3.9/angular-route.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>

    <!--    Bootstrap styling and formating-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="js/main.js"></script>
</head>

<body>
    <section>

        <div id="list" ng-app="" ng-controller="customersController">

            <form>
                <label>Search for a name:</label>
                <br/>
                <input class="col-md-12" type="text" ng-model="filter.name">

                <br/>
                <br/>
                <select class="form-control" ng-model="order" ng-options="order as order.title for order in orders"></select>
            </form>
            <div id="people">
            </div>
<!--
            <ul>
                <li ng-repeat="character in people | filter:filter.name | orderBy:order.key:order.reverse">
                    <strong>{{ character.name }}</strong> - {{ character.height }}
                </li>
            </ul>
-->
        </div>
    </section>
</body>

</html>