
@font-face {
    font-family: 'din_otlight';
    src: url('fonts/dinot-light-webfont.eot');
    src: url('fonts/dinot-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinot-light-webfont.woff2') format('woff2'),
         url('fonts/dinot-light-webfont.woff') format('woff'),
         url('fonts/dinot-light-webfont.ttf') format('truetype'),
         url('fonts/dinot-light-webfont.svg#din_otlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: "din_otbold";
	src: url("fonts/dinot-bold.eot");
	src: url("fonts/dinot-bold.eot#iefix") format("embedded-opentype"),
	url("fonts/dinot-bold.woff") format("woff"),
	url("fonts/dinot-bold.ttf") format("truetype"),
	url("fonts/dinot-bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'din_otblack';
    src: url('fonts/dinot-black-webfont.eot');
    src: url('fonts/dinot-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinot-black-webfont.woff2') format('woff2'),
         url('fonts/dinot-black-webfont.woff') format('woff'),
         url('fonts/dinot-black-webfont.ttf') format('truetype'),
         url('fonts/dinot-black-webfont.svg#din_otblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    
    font-family:  "din_otlight", sans-serift;
    font-weight: 100;
    color: #9f9f9f;
    margin: 20px;
    background: #051f3a;
}
#people {
    float: left;
    width: 100%;
    height: 100%;
    padding: 3px 0;
    overflow: scroll;
}
#people h1{
    font-size: 1.5em;  
}
#people text {
    font-size: 0.9em;
    text-indent: 10px;
    fill: white;
}
#list{
    width: 100%;
    float: right;
}
#list form{ 
    margin: 0 0 30px 0;
}
rect{
    cursor: pointer;   
}

h1{
    width:100%;
    font-size: 4em;
    color: #3e6990;
    font-weight: 100;
    margin: 30px 0;
}
h1 span{
    font-size:0.4em;
    line-height: 0.1;
    text-align: center;
    
}
h2 span{
    margin: 0 0 0 10px;   
}
div.tooltip, div.tooltip2{   
    position: absolute;           
    text-align: left;
    display: inline;
    width: 500px;
    color: #9f9f9f;
    font-family:  "din_otlight", sans-serift;
    font-weight: lighter;             
    border: 0px;                
    pointer-events: none;
}
#vizPLanets circle{
       
}
#character, #planet{
 position: relative;
    
}
#vizPLanets circle:hover{
    cursor: pointer;
}

#vizPLanets rect{
  position:relative;
    z-index:-100;
}